/*********************************
    Brand Font Style
*********************************/

$brand-font: 'Lato';


/*********************************
    Brand Color Style
*********************************/

$default-color: #ffffff;
$brand-color: #00456B;
$brand-title: #B3B3B3;
$brand-text: #999999;

$brand-background: #F1F1F2;
$brandline-color: #26BBD6;
$text-color: #848484;
/*********************************
    Brand Button Style
*********************************/

$btn-radius: 30px;
$btn-background: transparent;
$btn-color: #56E9F4;
$btn-font-size: 12px;

/*********************************
    Website Width
*********************************/
$web-container: 1200px;

/*********************************
    Custom Website Spec
*********************************/
$brand-para-text: #404041;
